<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>pl.altkom.web.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>witaj</servlet-name>
    <servlet-class>pl.altkom.web.ControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>witaj</servlet-name>
    <url-pattern>/witaj</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>marka</servlet-name>
    <servlet-class>pl.altkom.web.RedirectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>marka</servlet-name>
    <url-pattern>/marka</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>add_user</servlet-name>
    <servlet-class>pl.altkom.web.SaveClientDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>add_user</servlet-name>
    <url-pattern>/add_user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>add_car</servlet-name>
    <servlet-class>pl.altkom.web.SaveCarDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>add_car</servlet-name>
    <url-pattern>/add_car</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>users_data</servlet-name>
    <servlet-class>pl.altkom.web.PrintClientsDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>users_data</servlet-name>
    <url-pattern>/users_data</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cars_data</servlet-name>
    <servlet-class>pl.altkom.web.PrintCarsDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cars_data</servlet-name>
    <url-pattern>/cars_data</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>dataSource</param-name>
    <param-value>jdbc:komis</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>witaj</welcome-file>
  </welcome-file-list>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc:komis</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
